@using uetquizing.Models
@model VariationViewModel
@{
    ViewBag.Title = "Add New Variation";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
}

<!-- Main Body Content -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">

            <!-- Header -->
            <div class="header mt-md-5">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Pretitle -->
                            <h6 class="header-pretitle">
                                New Variation
                            </h6>

                            <!-- Title -->
                            <h1 class="header-title">
                                Add New Variation
                            </h1>

                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>

            <!-- Form -->
            @using (Html.BeginForm(new { @class = "mb-4", role = "form" }))
            {

                <!-- Category Name -->
                <div class="form-group">
                    @Html.LabelFor(m => m.VarianceTitle)
                    @Html.TextBoxFor(m => m.VarianceTitle, new { @class = "form-control", placeholder = "Variation (A)" })
                    @Html.ValidationMessageFor(m => m.VarianceTitle, "", new { @class = "text-danger" })

                </div>

                <!-- Buttons -->
                <button type="submit" class="btn btn-block btn-primary">Add Variation</button>
            }

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container-fluid -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
