@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
    ViewBag.Role = "Student";
}

<div class="main-content" style="margin-top: 10px;">
    <!-- CONTENT -->
    <div class="container-fluid">
        <div class="row">
            @{
                if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {

                        <div class="col-12 col-lg-6">
                            <!-- Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Avatar -->
                                    <div class="text-center">
                                        <a href="team-overview.html" class="card-avatar avatar avatar-lg mx-auto">
                                            <img src="~/assets/img/avatars/teams/team-logo-1.jpg" alt="" class="avatar-img rounded">
                                        </a>
                                    </div>

                                    <!-- Title -->
                                    <h2 class="card-title text-center mb-3">
                                        <a href="team-overview.html">@item.studentQuiz.quiz_title</a>
                                    </h2>

                                    <!-- Text -->
                                    <p class="card-text text-center text-muted mb-4">
                                        Launchday is a SaaS website builder with a focus on quality, easy to build product sites.
                                    </p>

                                    <!-- Divider -->
                                    <hr>

                                    <div class="row align-items-center">
                                        <div class="col">

                                            <!-- Time -->
                                            <p class="card-text small text-muted">
                                                <i class="fe fe-clock"></i> Attempted On @item.attempted_on
                                            </p>

                                        </div>
                                        <div class="col-auto">
                                            <a href="" class="btn btn-primary">Quiz Result</a>
                                        </div>
                                    </div> <!-- / .row -->

                                </div> <!-- / .card-body -->
                            </div>

                        </div>
                    }
                }
                else
                {

                    <div class="col-12 col-lg-12">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <b><p style="margin: 0px;">You have not solved any quiz yet</p></b>
                            </div> <!-- / .card-body -->
                        </div>

                    </div>
                }
            }
        </div> <!-- / .row -->
    </div>
</div>